# Supabase Configuration
VITE_SUPABASE_URL=https://rrlefamylilgiufowprq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJybGVmYW15bGlsZ2l1Zm93cHJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3NzkwNjcsImV4cCI6MjA4NzM1NTA2N30.7JvBMgN_kbZk5sPXamqvg4Zi8DYgrUSRABMmJJMVkwI
